
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.goodsItem {
    position: relative;
}

.itemText {
    max-width: 300px;
    display: inline-block;
}

.buttonBuy {
    position: absolute;
    left: calc(50% - 20px);
    bottom: 0;
    width: 50px;
}


.gridResponses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.responses {
    width: 300px;
}

.date{
    text-align: end;
}