html,
body {
    height: 100%;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #81b300;
    padding: 0 30px;
    margin-bottom: 25px;
}

.b-header__link {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 70px;
}

.cart {
    float: right;
}

.b-header__link:hover .b-header__span {
    color: #000000;
}

.b-header__span {
    line-height: 13px;
    text-transform: uppercase;
    color: #ffffff;
}

.mainCart {
    flex: 1 0 auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1 0 auto;
}

.goodsItem {
    position: relative;
    height: 300px;
}

.itemText {
    max-width: 300px;
    display: inline-block;
}

.imgMini {
    width: 220px;
}

.button {
    cursor: pointer;
}
.allBuy {
    float: right;
    margin: 0px 20px 0;
}

.buttonBuy {
    position: absolute;
    left: calc(50% - 20px);
    bottom: 0;
    width: 50px;
}


.gridResponses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.responses {
    width: 300px;
}

.date{
    text-align: end;
}
footer{
    margin-top: 40px;
    background-color: #373737;
    color: #fff;
    border-top: 1px solid #000;
    height: 200px;
    flex: 0 0 auto;
}

footer h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-menu{
    margin: 0;
    padding: 0;
}
.footer-menu div{
    float: left;
    margin: 0 40px 20px 20px;
    max-width: 300px;
}
footer-menu div:last-child{
    float: right;
}
footer, footer a{
    color: #fff;
}
footer p{
    clear: both;
    background-color: #333333;
    padding: 10px 5px;
}

.counterDiv {
    display: inline-block;
}

.counterCart{
    text-decoration: none;
    font-size: 30px;
    display: inline;
    margin: 20px;
}

.price{
    margin: 50px;
}
.totalPrice{
    margin-top: 30px;
    display: block;
    text-align: center;
}

.delete {
    text-decoration: none;
}

.mainAdmin{
    width: 1300px;
    margin: 0 auto;
}

.goodsItemAdmin{
    width: 21%;
    display: inline-block;
    margin: 20px;
    text-align: center;
}